@import '~@fluentui/react/dist/sass/References.scss';

.giftRegistrationDetails {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  font-family: "Cambria";
  font-size: medium;
  width:50%;
  height:30px;
}


.welcomeImageTest {
  font-family: "Cambria";
  font-size: medium;
  width:40%;
  height:30px;
}


.coststyle

{

  font-family: "Cambria";
  font-size: medium;
  font-weight: $ms-font-weight-regular;
  font-size: medium;
}

.coststylediv

{

  font-family: "Cambria";
  font-size: 18;
  border: 1px solid black;
}

.coststylediv1

{

  font-family: "Cambria";
  font-size: 18;

  // border: 1px solid green;
 
}

.commonstyle
{

  font-family: "Cambria";
  font-size: medium;
  width:50%;
  height:30px;
  //padding-left:18px;

}

.commonstyleTest
{

  font-family: "Cambria";
  font-size: medium;
  width:40%;
  height:20px;
  //padding-left:18px;

}

.commonstyle1
{

  font-family: "Cambria";
  font-size: medium;
  width:32%;
  height:40px;
  //padding-left:18px;

}

.testcssborder
{

  border: 1px solid black;
}

.testcssborder1
{
  border: 1px solid blue;
}




.testStackItem
{

  width:80%;
  font-family: "Cambria";
  font-size: medium;
  font-weight: $ms-font-weight-semibold;
  font-size: medium;
}

.commonstyle2
{

  font-family: "Cambria";
  font-size: medium;
  width:32%;
  height:40px;
  //padding-left:18px;

}

.commonstyle3
{

  font-family: "Cambria";
  font-size: medium;
  width:50%;
  height:40px;
  //padding-left:18px;

}

.DetAppName
{

width:30%;
font-family: "Cambria";

}


.onlyFont
{

  font-family: "Cambria";
  font-size: medium;

}

.onlyFont1
{

  font-family: "Cambria";
  font-size: large;

}


.recolorss
{

  color: #FF0000;
}

.button {
  // Our button
  text-decoration: none;
  height: 38px;

  // Primary Button
  width: 80px;
  background-color: $ms-color-themePrimary;
  border-color: $ms-color-themePrimary;
  color: $ms-color-white;

  // Basic Button
  outline: transparent;
  position: relative;
  font-family: Cambria;
  -webkit-font-smoothing: antialiased;
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-regular;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: medium;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }

 
}

.viewbutton {
  // Our button
  text-decoration: none;
  height: 30px;

  // Primary Button
  width: 40px;
  background-color: $ms-color-themePrimary;
  border-color: $ms-color-themePrimary;
  color: $ms-color-white;

  // Basic Button
  outline: transparent;
  position: relative;
  font-family: Cambria;
  -webkit-font-smoothing: antialiased;
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-regular;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: medium;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }

 
}


.labelsFonts
{

  font-size: 14px;

  font-family: Cambria;

 
}

.pagealign
{
  //margin-left:-300px
  width:400px;
}

.myBackcolor
{

//background-color:lightgrey;
//border: 1px solid black;
padding: 15px;
font-size: medium;
border-radius: 20px;


}

.myBackcolorTest
{

//background-color:lightgrey;
//border: 1px solid black;
padding: 15px;
font-size: medium;
border-radius: 20px;


}

// .myBackcolor1
// {

// background-color:lightgrey;


// }

.blockcolor
{

   border:1px solid black;
   width: 400px;
   padding: 10px;
    
}

.Divsection
{

  padding:10px;

  

}

.Divsection1
{

  padding:30px;

  

}

.HeadLable {
  font-size: 18px;
 font-family: Cambria;

}

.msTeams
{

  width:80%;
  font-family: "Cambria";
  font-size: medium;
  font-weight: $ms-font-weight-semibold;
  font-size: medium;

}


.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}